<div class="d-flex justify-content-center m-2">
  <div class="btn-group-sm m-2">
    <button class="btn btn-dark me-2" (click)="changeDifficulty('EASY')">Easy</button>
    <button class="btn btn-dark me-2" (click)="changeDifficulty('MEDIUM')">Medium</button>
    <button class="btn btn-dark me-2" (click)="changeDifficulty('HARD')">Hard</button>
  </div>
</div>
<div class="container">
  <div *ngIf="game" class="grid-container" [ngClass]="selectedDifficulty">
    <div *ngFor="let card of game.cards" class="card" (click)="flipCard(card)">
      <div [class.flipped]="card.isFlipped">
        {{ card.isFlipped ? card.value : '' }}
      </div>
    </div>
  </div>

</div>
